<h1 class="flex-header">Here are the definitions for this <em>werd:</em> </h1>

<ul>
  <% @definitions.each do |definition| %>
  <li><a href='/definitions/<%= definition.id() %>'><%= definition.description() %>
  </a></li>
  <% end %>
</ul>
