<h1>Definitions</h1>

<h3>Here are the defintions for this <em>werd:</em> </h3>
<ul>
  <% @definitions.each do |definition| %>
  <li><a href='/definitions/<%= definition.id() %>'><%= definition.description() %>
  </a></li>
  <% end %>
</ul>
