<h1>Add a definition:</h1>

<form class="add-definition-form" action="/definitions" method="post">
    <label for="make">Definition:</label>
    <input type="text" id="description" name="description">

    <button type="submit">Add Definition</button>
</form>
