<div class="flex-item">
  <h3>Find your new favs</h3>
  <a class="home-btn" href='/words'><em>Werd</em> List</a>
</div>
<div class="flex-item">
  <h3>Add what's missing</h3>
  <a class="home-btn" href='/words/new'>Add New <em>Werd</em></a>
</div>
<h1 class="flex-header">Welcome to Dissapointing Slang</h1>
