<div class="flex-item">
  <a href= "/words"><h3>See the List</h3></a>
</div>
<div class="flex-item">
  <a href="/words/new"><h3>Add Another</h3></a>
</div>
<h1 class="flex-header">Boom! Your <em>Werd</em> Was added to the Bank</h1>
