
<div class="flex-container">
  <div class="flex-item">
    <a href= "/definitions"><h3>See the List</h3></a>
  </div>
  <div class="flex-item">
    <a href="/definitions/new"><h3>Add Another</h3></a>
  </div>
  <h1 class="flex-header">Boom! Your definition Was added to the <em>Werd</em></h1>
</div>
