<div class="flex-item">
  <a class="home-btn" href ='/words/<%=@word.id()%>/definitions/new'>Add Definition</a>
</div>
<div class="flex-item">
  <a class="home-btn" href="/words/new">Add New Word</a>
</div>
<h1 class="flex-header">Boom! Your <em>Werd: <%= @word.name() %> </em> Was added to the Bank</h1>
<a class="home-btn-small" href= "/">Visit tha Bank</a>
