<h1 class="flex-header"><em>Werds</em></h1>

<div class="flex-item">
  <ul>
    <% @words.each() do |word| %>
    <li><a href="/words/<%= word.id() %>"><%= word.name() %></a></li>
    <% end %>
  </ul>
</div>
