<h1 class="flex-header">Add <em>Werdz</em></h1>

<div class="flex-item">
  <h3>Add your favorite Djanky Slang <em>werdz</em></h3>
</div>

<div class="flex-item">
  <form action="/words" method="post">
    <input id="name" name="name" type="text">
    <button type="submit">Add Word</button>
  </form>
</div>
