<h1 class="flex-header"><em>Werds</em>List</h1>

<div class="flex-item">
  <ul>
    <% @words.each() do |word| %>
    <li><a href="/words/<%= word.id() %>"><%= word.name() %></a></li>
    <% end %>
  </ul>
</div>
<div class="flex-item">
  <h3>I'm bored take me back</h3>
  <a class="home-btn" href='/'>Home</a>
<div>
