<h3 class="flex-header">Here are all the definitions for this <em>werd</em></h3>

<ul>
  <% @word.definitions().each do |definition| %>
  <li><a href="/definition/<%= car.id() %>"><%= definition.make() %></a></li>
  <% end %>
</ul>
<div class="flex-item">
  <a class="home-btn" href="/words/<%= @word.id %>/definitions/new">Add a new definition</a>
</div>
<div class="flex-item">
  <a class="home-btn" href="/">Return to Main Page</a>
</div>
