<h1 class="flex-header">Add <em>Werdz</em></h1>

<div class="flex-header">
  <h3>Add your favorite Djanky Slang <em>werdz</em></h3>
  <form action="/words" method="post">
    <input id="name" name="name" type="text">
    <button class="home-btn-small" type="submit">Add Werd</button>
  </form>
</div>
